<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" />
    <import class="ch.qos.logback.core.rolling.RollingFileAppender" />
    <import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy" />
    <import class="ch.qos.logback.core.ConsoleAppender" />

    <!-- variables -->
    <variable name="ACTIVE_LOG_FILE_DIR" value="logs" scope="local" />
    <variable name="ARCHIVE_LOG_FILE_DIR" value="logs/archive" scope="local" />

    <!-- file appender -->
    <appender name="FILE" class="RollingFileAppender">
        <!-- name of the active log file -->
        <file>${ACTIVE_LOG_FILE_DIR}/cca.log</file>

        <append>true</append>
        <immediateFlush>true</immediateFlush>

        <rollingPolicy class="TimeBasedRollingPolicy">
            <fileNamePattern>${ARCHIVE_LOG_FILE_DIR}/cca_%d{yyyy_MM_dd}.zip</fileNamePattern>

            <!-- maximum number of archive log files to keep -->
            <maxHistory>30</maxHistory>

            <!-- maximum size allowed for storing all archived log files -->
            <totalSizeCap>30GB</totalSizeCap>

            <!-- remove archived log files on start up -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>
                [%d{HH:mm:ss.SSS}]-[%thread]-[%-5level]-[%file]-%msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- console appender -->
    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>
                [%d{HH:mm:ss.SSS}]-[%-20thread]-[%-5level]-[%-45file]-%msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- setting the root logger -->
    <root level="INFO">
        <!-- add console appendar to the root logger -->
        <appender-ref ref="STDOUT" />
    </root>

    <!-- setting the application logger -->
    <logger name="com.demo.cca">
        <!-- add file appendar to the root logger -->
        <appender-ref ref="FILE" />
    </logger>
</configuration>